# Файлы и директории операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
mock.json
*.log*
node_modules/

# Директория с собранными файлами проекта
build/

#Директория пользовательских файлов
upload/

# Файл с переменными окружения
.env
